.worldInteraction {
    position: fixed;
    top: 50%;
    left: calc(50% + 15rem);
    transform: translate(-50%, calc(-2.5rem * var(--selected-index)));
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
    transition: transform 0.3s ease-in-out;
    animation: fadeInScale 0.3s ease-in-out;
}

.worldInteraction.hiding {
    animation: fadeOutScale 0.2s ease-in-out;
}

.interactionItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    width: 15rem;
    background: rgba(15, 15, 15, 0.9);
    border-left: 0.15rem solid #5d5d5d;
    border-right: 0.15rem solid #5d5d5d;
    color: #eee;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.iconBox {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(60, 60, 60, 0.4);
    border-radius: 0.3rem;
}

.interactionItem.active {
    background: rgba(232, 232, 232, 0.9);
    width: 16rem;
    /* border-left: 0.2rem solid #4caf50; */
    color: #111;
    font-weight: 600;
    border-color: #fff;
    box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.3);
}

.interactionItem.active .iconBox {
    background: rgba(26, 26, 26, 0.15);
}

.interactionDiamond {
    position: fixed;
    top: var(--dot-y, 50%);
    left: var(--dot-x, 50%);
    width: 1.5rem;
    height: 1.5rem;
    transform: translate(-50%, -50%);
    transition: top 0.05s linear, left 0.05s linear;
    pointer-events: none;
    animation: rotateDiamond 2s linear infinite, fadeInDiamond 0.3s ease-in-out;
}

.interactionDiamond.hiding {
    animation: rotateDiamond 2s linear infinite, fadeOutDiamond 0.2s ease-in-out;
}

.interactionLine {
    position: 'fixed';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    animation: dash 10s linear infinite, fadeInLine 0.3s ease-in-out;
}

.interactionLine.hiding {
    animation: dash 10s linear infinite, fadeOutLine 0.2s ease-in-out;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: translate(-50%, calc(-2.5rem * var(--selected-index))) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, calc(-2.5rem * var(--selected-index))) scale(1);
    }
}

@keyframes rotateDiamond {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes dash {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 150;
    }
}

@keyframes fadeInLine {
    0% {
        opacity: 0;
        width: 50%;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}

@keyframes fadeInDiamond {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes fadeOutScale {
    0% {
        opacity: 1;
        transform: translate(-50%, calc(-2.5rem * var(--selected-index))) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, calc(-2.5rem * var(--selected-index))) scale(0.8);
    }
}

@keyframes fadeOutLine {
    0% {
        opacity: 1;
        width: 100%;
    }
    100% {
        opacity: 0;
        width: 50%;
    }
}

@keyframes fadeOutDiamond {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
}